
<div class="searchBar">
    <% form_tag url_for(:action => :index) do %>
      <%= text_field_tag :query, @query || "SEARCH HERE", :class => "searchInput", :autocomplete => "off" %>
    <% end -%>
</div>

<div class="bottom">
    <div class="leftAd">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7279077462237001";
        /* easygilt ad */
        google_ad_slot = "9663391981";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    <div class="results" id="results">
      <% if @results.nil? %>
          <div class="resultItem">
              <div class="noItem">Start typing in the search bar above to see results.</div>
          </div>
      <% elsif @results.count == 0 %>
        <div class="resultItem">
            <div class="noItem">Nothing Found</div>
        </div>
      <% else %>
        <% @results.each do |product| -%>
          <%= render :partial => 'result_item', :locals => { :product => product } %>
        <% end -%>
      <% end %>
      <div class='resultItem noItem'>
        Try playing our game to determine the <%= link_to 'hottest styles', url_for(:controller => :hot, :action => :index) -%>.
      </div>
      <div class="clearBoth"></div>
    </div>
    <div class="rightAd">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7279077462237001";
        /* easygilt ad */
        google_ad_slot = "9663391981";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>