* { padding: 0px; margin: 0px; }
A { text-decoration: none; color: black }
A:HOVER { text-decoration: none; color: black }
A:VISITED { text-decoration: none; color: black }
clearBoth { clear: both; }

.body { background-color: black; }

.bottom { margin: auto; width: 1125px; }

.leftAd { float: left; padding-top: 10px; }
.results { float: left; }
.rightAd { float: left; padding-top: 10px; }

/** Search Bar **/
.searchBar { border-bottom: 10px solid gold; }
.searchBar .searchInput { font-size: 35px;  color: gold; width: 100%; text-align: center; }

/** Result item styling **/
.noItem { font-size: 30px; color: gold; text-align: center; padding-top: 50px;}
.resultItem { height: 140px; width: 780px; border: 1px solid gray; position: relative; padding-left: 10px; margin: 5px; background-color: #F2F2F0;  }
.resultItem .image { float: left; }
.resultItem .image IMG { padding-top: 10px; padding-right: 10px; }
.resultItem .information { float: left; padding-top: 14px; width: 450px; overflow: hidden; }
.resultItem .information .name { font-size: 26px; }
.resultItem .information .material {  }
.resultItem .information .brand {  }
.resultItem .label { color: gold; font-weight: bold; }

/** Hot styling **/
.hot_container { width: 200px; margin: 0 auto; margin-top: 30px; }
.hot_competitor_container { width: 100px; float: left; }
.hot_competitor_container img { display: block; width: 80px; margin-bottom: 10px; }
